.image-body-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    @include mobile {
        flex-direction: column;
        align-items: flex-start;
    }

    .image {
        margin-right: 40px;
        text-align: center;
        flex: 1 0 15%;

        @include mobile {
            display: none;
        }

        img {
            width: 100%;
        }
    }

    .body {
        font-family: $family-sans-serif-1;
        line-height: 1.5em;

        h4 {
            font-size: $size-4;
            margin-top: 0;
            margin-bottom: 10px;
            color: $color-text-2;
            font-weight: $weight-bold;
        }
        p {
            color: $color-text-3;
            font-size: $size-5;
        }
    }
}
