.panels-2 {
    &:after {
        clear: both;
        content: "";
        display: table;
    }
    .panel {
        @media (min-width: 861px) {
            width: 50%;
        }
        float: left;
        height: 420px;
        h3 {
            font-size: 28px;
            margin: 0;
            font-weight: 400;
            color: #404040;
            padding-right: 40%;
        }
        p {
            line-height: 1.6em;
            padding-right: 38%;
        }
        &.light-grey.text-left {
            padding-right: 0px;
            padding-left: 0px;
            .text-left-container {
                max-width: 600px;
                float: right;
                .text {
                    margin-right: 1.6%;
                    padding-left: 30px;
                    padding-right: 30px;
                    h3,
                    p {
                        padding-right: 0px;
                    }
                }
            }
        }
        &.river {
            background: url("/images/teak/tractor.jpg");
            background-position: right;
            background-overflow: hidden;
            @media (min-width: 1200px) {
                background-size: auto 100%;
            }
            @media (min-width: 1600px) {
                background-size: cover;
            }
            background-repeat: no-repeat;
        }
        &.freeway {
            background: url("/images/teak/freeway-hero.jpg");
            background-position: right;
            background-overflow: hidden;
            @media (min-width: 1200px) {
                background-size: auto 100%;
            }
            @media (min-width: 1600px) {
                background-size: cover;
            }
            background-repeat: no-repeat;
        }
        &.pinterest {
            background: url("/images/pinterest-bg.jpg");
            background-position: right;
            background-overflow: hidden;
            @media (min-width: 1200px) {
                background-size: auto 100%;
            }
            @media (min-width: 1600px) {
                background-size: cover;
            }
            background-repeat: no-repeat;
        }
        &.pipelines {
            background: url("/images/product/nyc-street.jpg");
            background-position: right;
            background-overflow: hidden;
            @media (min-width: 1200px) {
                background-size: auto 100%;
            }
            @media (min-width: 1600px) {
                background-size: cover;
            }
            background-repeat: no-repeat;
        }
        &.swirl {
            background: url("/images/swirl-hero.jpg");
            background-position: right;
            background-overflow: hidden;
            @media (min-width: 1200px) {
                background-size: auto 100%;
            }
            @media (min-width: 1600px) {
                background-size: cover;
            }
            background-repeat: no-repeat;
        }
        &.diversity {
            background: url("/images/swirl-hero.jpg");
            background-position: right;
            background-overflow: hidden;
            @media (min-width: 1200px) {
                background-size: auto 100%;
            }
            @media (min-width: 1600px) {
                background-size: cover;
            }
            background-repeat: no-repeat;
        }
        &.shutterstock {
            background: url("/images/teak/chris-shutterstock-bg.jpg");
            background-position: right;
            background-overflow: hidden;
            @media (min-width: 1200px) {
                background-size: auto 100%;
            }
            img {
                position: auto;
            }
            @media (min-width: 1600px) {
                background-size: cover;
            }
            background-repeat: no-repeat;
        }
        &.dark-blue {
            background-color: $color-neutral-900;
            color: $color-neutral-0;
            padding: 6%;
            @media (min-width: 1200px) {
                padding: 3.5%;
            }
            a.btn {
                color: $color-neutral-0;
                border-color: $color-neutral-0;
                padding: 8px 24px;
            }
        }
        &.light-grey {
            background-color: #f1f3f2;
            color: #707070;
            padding: 6%;
            @media (min-width: 1200px) {
                padding: 3.5%;
            }
            &.security {
                @media (max-width: 1150px) {
                    h3,
                    p {
                        padding-right: 10%;
                    }
                }
            }
            a.btn {
                color: #707070;
                border-color: #707070;
                padding: 8px 24px;
                font-weight: 500;
            }
        }
    }
}
