.subhead-text {
    @include outer-container;
    h1, h2, h3, h4, p {
        text-align: center;
    }

    &.text-left {
        h1, h2, h3, h4, p {
            text-align: left;
        }
        p {
            margin: 0 0;
        }
    }
    &.careervid {
        margin-bottom: 0px;
    }
    &.career-video {
        margin-top: 0px;
    }
    &.text-left-news {
        h1, h2, h3, h4, p {
            text-align: left;
            margin-bottom: -20px;
        }
        p {
            margin: 0 0;
        }
    }

    .slack-button {
        text-align: center;
        padding-top: 40px;
        .btn {
            display: inline;
        }
    }

    h1 {
        color: #333333;
        font-size: 44px;
        font-weight: 500;
    }

    h2 {
        color: #333333;
        font-size: 36px;
        font-weight: 700;
    }

    h3 {
        color: #333333;
        font-size: 28px;
        font-weight: 500;
    }

    h4 {
        color: #707070;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.6em;
    }

    margin-top: 50px;
    margin-bottom: 50px;

    p {
        color: #707070;
        font-weight: 300;
        font-size: 18px;
        max-width: 900px;
        width: 64%;
        margin-left: 18%;
        margin-right: 18%;
        line-height: 1.6em;
    }
}
