$color-neutral-900: #1b1a21;
$color-neutral-800: #4c4a57;
$color-neutral-700: #777582;
$color-neutral-500: #c2c1c7;
$color-neutral-300: #e6e5ea;
$color-neutral-200: #f3f3f5;
$color-neutral-100: #fafafa;
$color-neutral-0: #ffffff;

$color-indigo-900: #1e0a78;
$color-indigo-800: #311b92;
$color-indigo-600: #563ec2;
$color-indigo-400: #c0b7eb;
$color-indigo-200: #e8e6f5;
$color-indigo-100: #f3f2fc;

$color-purple-900: #8800cc;
$color-purple-800: #aa00ff;
$color-purple-600: #c550ff;
$color-purple-400: #ecc7ff;
$color-purple-200: #f9edff;

$color-magenta-900: #b300b3;
$color-magenta-800: #ff00ff;
$color-magenta-600: #ff7bff;
$color-magenta-400: #ffbfff;
$color-magenta-200: #ffebff;

$color-red-900: #c41337;
$color-red-800: #f4346f;
$color-red-600: #f85b8a;
$color-red-400: #ffc2d4;
$color-red-200: #ffebf2;

$color-yellow-900: #9e6d00;
$color-yellow-800: #ffb000;
$color-yellow-600: #ffcf64;
$color-yellow-400: #ffe694;
$color-yellow-200: #fffade;

$color-green-900: #00873f;
$color-green-800: #00ca68;
$color-green-600: #00e676;
$color-green-400: #a8ffce;
$color-green-200: #e6fcee;

$color-cyan-900: #00408f;
$color-cyan-800: #0081d7;
$color-cyan-600: #00f5fe;
$color-cyan-400: #a6fcff;
$color-cyan-200: #d9feff;

$color-shadow: rgba(27, 26, 33, 0.25);

$color-text-1: $color-neutral-900;
$color-text-2: $color-neutral-800;
$color-text-3: $color-neutral-700;

$success-background: $color-green-200;
$success-text: $color-green-900;
$progress-background: $color-indigo-100;
$progress-text: $color-purple-800;
$alert-background: $color-yellow-200;
$alert-text: $color-yellow-900;
$error-background: $color-red-200;
$error-text: $color-red-900;
$info-background: $color-neutral-800;
$info-text: $color-neutral-0;

// Each color key must remain in sync with it's color definition in `utils/colors.js`
$colors: (
    neutral900: $color-neutral-900,
    neutral800: $color-neutral-800,
    neutral700: $color-neutral-700,
    neutral500: $color-neutral-500,
    neutral300: $color-neutral-300,
    neutral200: $color-neutral-200,
    neutral100: $color-neutral-100,
    neutral0: $color-neutral-0,
    indigo900: $color-indigo-900,
    indigo800: $color-indigo-800,
    indigo600: $color-indigo-600,
    indigo400: $color-indigo-400,
    indigo200: $color-indigo-200,
    indigo100: $color-indigo-100,
    purple900: $color-purple-900,
    purple800: $color-purple-800,
    purple600: $color-purple-600,
    purple400: $color-purple-400,
    purple200: $color-purple-200,
    magenta900: $color-magenta-900,
    magenta800: $color-magenta-800,
    magenta600: $color-magenta-600,
    magenta400: $color-magenta-400,
    magenta200: $color-magenta-200,
    red900: $color-red-900,
    red800: $color-red-800,
    red600: $color-red-600,
    red400: $color-red-400,
    red200: $color-red-200,
    yellow900: $color-yellow-900,
    yellow800: $color-yellow-800,
    yellow600: $color-yellow-600,
    yellow400: $color-yellow-400,
    yellow200: $color-yellow-200,
    green900: $color-green-900,
    green800: $color-green-800,
    green600: $color-green-600,
    green400: $color-green-400,
    green200: $color-green-200,
    cyan900: $color-cyan-900,
    cyan800: $color-cyan-800,
    cyan600: $color-cyan-600,
    cyan400: $color-cyan-400,
    cyan200: $color-cyan-200,
);

// Returns a linear-gradient.
// This should be in-sync with SvgLinearGradientDef.js
//
// Example usage:
// background: color-gradient-g1(90deg);
@function color-gradient-g1($angle: 0deg) {
    @return linear-gradient(
        $angle,
        $color-magenta-600 0%,
        $color-purple-800 50%,
        $color-indigo-800 100%
    );
}

@function color-gradient-g2($angle: -20deg) {
    @return linear-gradient(
        $angle,
        $color-magenta-800 -44%,
        $color-indigo-900 157%
    );
}

@function color-gradient-g3($angle: 0deg) {
    @return linear-gradient(
        $angle,
        $color-purple-600 0%,
        $color-purple-900 100%
    );
}

@function color-gradient-g4($angle: 0deg) {
    @return linear-gradient(
        $angle,
        $color-magenta-400 0%,
        $color-purple-800 100%
    );
}

@function color-gradient-g5($angle: 0deg) {
    @return linear-gradient($angle, $color-purple-800 0%, $color-cyan-800 100%);
}

@function color-gradient-g6($angle: 0deg) {
    @return linear-gradient(
        $angle,
        $color-indigo-900 -40%,
        $color-neutral-900 100%
    );
}
