$widths: one, two, three, four, five, six, seven, eight, nine, ten;

$sizes: (
    none: 0,
    zero: 0,
    small-2x: 10px,
    small-x: 20px,
    small: 40px,
    medium: 60px,
    large: 80px,
    large-x: 120px,
    large-2x: 160px,
);

