// This file should stay in sync with utils/style.js

// Typography
$family-sans-serif-1: "Lato", sans-serif;
$family-serif-1: "Merriweather", Georgia, "Times New Roman", Times, serif;
$family-monospace: "Inconsolata", monospace;
$render-mode: optimizeLegibility;

$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 1.75rem;
$size-4: 1.5rem;
$size-5: 1.125rem;
$size-6: 1rem;
$size-7: 0.875rem;
$size-8: 0.75rem;

$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
$weight-black: 900;

// Transitions
$transition-standard: 0.15s ease-in-out;

// Layout
$banner-height: 60px;
$navbar-height: 80px;
$subnav-height: 58px;
$max-modal-height: calc(100vh - 10vw);
$resources-sidebar-width: 260px;
$resources-sidebar-padding-left: 40px;
$resources-sidebar-padding-top: 40px;
$resources-filterbar-height: 60px;

// Resources
$card-category-font-size: 0.625rem;
$card-category-line-height: 13px;
$card-category-letter-spacing: 0.15em;
$card-category-text-transform: uppercase;
$card-category-padding-bottom: 6px;

// This value should be in sync with the const set in CardResource.js
$resource-card-width: 278px;
$resource-card-width-large: 595px;
$resource-card-margin: 20px;
$resource-card-border: 1px solid $color-neutral-500;

// Breakpoints
$standard-lp-mobile-width: 550px;
$standard-lp-tablet-width: 965px;

$mobile-width-small: 380px;
$mobile-width: 600px;
$tablet-width: 860px;
$navbar-tablet: 960px;

$hero-tablet: 700px;

$resources-lg: 1228px; // must be in-sync with resourcesLg in utils/breakpoints.js
$resources-md: 910px; // must be in-sync with resourcesMd in utils/breakpoints.js
$resources-sm: 650px; // must be in-sync with resourcesSm in utils/breakpoints.js
$resources-xsm: 330px;

// z-index
$z-index--1: -100;
$z-index-1: 100;
$z-index-2: 200;
$z-index-3: 300;
$z-index-4: 400;
$z-index-5: 500;
$z-index-6: 600;
$z-index-dropdown: 800;
$z-index-mobile-cta: 900;
$z-index-subnav: 1000;
$z-index-navbar: 1100;
$z-index-navbar-overlay: 1500;
$z-index-navbar-touch: 2000;
$z-index-navbar-touch-contact-button: 2100;
$z-index-navbar-touch-search-overlay: 2200;
$z-index-navbar-touch-searchbar: 2300;
$z-index-navbar-touch-searchbar-link-overlay: 2400;
$z-index-navbar-touch-submenu: 3000;
$z-index-portal-underlay: 4000;
$z-index-portal: 4100;

// Box-shadow
$shadow-small: 0px 1px 4px rgba(27, 26, 33, 0.25);
$shadow-medium: 0px 2px 6px rgba(27, 26, 33, 0.25);
$shadow-large: 0px 6px 16px rgba(27, 26, 33, 0.25);

// border-radius
$border-radius-sm: 4px;
$border-radius-md: 6px;
$border-radius-lg: 8px;

// Misc
$solutions-animated-fig-width: 590px;
$solutions-animated-fig-height: 225px;
$centered-hero-width: 1320px;
$container-lg-hor-padding: 40px;
$container-lg-hor-padding-mobile: 30px;
$card-width: 290px;
$card-margin: 20px;
$touch-target-size: 25px;
$searchbar-height: 52px;
$searchbar-filter-height: 60px;
