body {
    font-family: $family-sans-serif-1;
    margin: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[tabindex="-1"] {
    outline: 0;
}

.no-mobile {
    @media (max-width: 860px) {
        display: none !important;
    }
}

.mobile-only {
    display: none;
    @media (max-width: 860px) {
        display: block;
    }
}

.desktop-only {
    display: block;

    @include mobile {
        display: none;
    }
}
