// margin-top

.margin-top-0 {
    margin-top: 0 !important;
}

.margin-top-xxsm {
    margin-top: 10px !important;
}
.margin-top-xsm {
    margin-top: 20px !important;
}

.margin-top-sm {
    margin-top: 40px !important;
}

.margin-top-md {
    margin-top: 60px !important;
}

.margin-top-lg {
    margin-top: 80px !important;
}

.margin-top-xlg {
    margin-top: 100px !important;
}

.margin-top-xxlg {
    margin-top: 120px !important;
}

// margin-right

.margin-right-0 {
    margin-right: 0 !important;
}

.margin-right-xxsm {
    margin-right: 10px !important;
}
.margin-right-xsm {
    margin-right: 20px !important;
}

.margin-right-sm {
    margin-right: 40px !important;
}

.margin-right-md {
    margin-right: 60px !important;
}

.margin-right-lg {
    margin-right: 80px !important;
}

.margin-right-xlg {
    margin-right: 100px !important;
}

.margin-right-xxlg {
    margin-right: 120px !important;
}

// margin-bottom

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.margin-bottom-xxsm {
    margin-bottom: 10px !important;
}

.margin-bottom-xsm {
    margin-bottom: 20px !important;
}

.margin-bottom-sm {
    margin-bottom: 40px !important;
}

.margin-bottom-md {
    margin-bottom: 60px !important;
}

.margin-bottom-lg {
    margin-bottom: 80px !important;
}

.margin-bottom-xlg {
    margin-bottom: 100px !important;
}

.margin-bottom-xxlg {
    margin-bottom: 120px !important;
}

// margin-left

.margin-left-0 {
    margin-left: 0 !important;
}

.margin-left-xxsm {
    margin-left: 10px !important;
}
.margin-left-xsm {
    margin-left: 20px !important;
}

.margin-left-sm {
    margin-left: 40px !important;
}

.margin-left-md {
    margin-left: 60px !important;
}

.margin-left-lg {
    margin-left: 80px !important;
}

.margin-left-xlg {
    margin-left: 100px !important;
}

.margin-left-xxlg {
    margin-left: 120px !important;
}

// padding-top

.padding-top-0 {
    padding-top: 0 !important;
}

.padding-top-xxsm {
    padding-top: 10px !important;
}

.padding-top-xsm {
    padding-top: 20px !important;
}

.padding-top-sm {
    padding-top: 40px !important;
}

.padding-top-md {
    padding-top: 60px !important;
}

.padding-top-lg {
    padding-top: 80px !important;
}

.padding-top-xlg {
    padding-top: 100px !important;
}

.padding-top-xxlg {
    padding-top: 120px !important;
}

// padding-right

.padding-right-0 {
    padding-right: 0 !important;
}

.padding-right-xxsm {
    padding-right: 10px !important;
}

.padding-right-xsm {
    padding-right: 20px !important;
}

.padding-right-sm {
    padding-right: 40px !important;
}

.padding-right-md {
    padding-right: 60px !important;
}

.padding-right-lg {
    padding-right: 80px !important;
}

.padding-right-xlg {
    padding-right: 100px !important;
}

.padding-right-xxlg {
    padding-right: 120px !important;
}

// padding-bottom

.padding-bottom-0 {
    padding-bottom: 0 !important;
}

.padding-bottom-xxsm {
    padding-bottom: 10px !important;
}

.padding-bottom-xsm {
    padding-bottom: 20px !important;
}

.padding-bottom-sm {
    padding-bottom: 40px !important;
}

.padding-bottom-md {
    padding-bottom: 60px !important;
}

.padding-bottom-lg {
    padding-bottom: 80px !important;
}

.padding-bottom-xlg {
    padding-bottom: 100px !important;
}

.padding-bottom-xxlg {
    padding-bottom: 120px !important;
}

// padding-left

.padding-left-0 {
    padding-left: 0 !important;
}

.padding-left-xxsm {
    padding-left: 10px !important;
}

.padding-left-xsm {
    padding-left: 20px !important;
}

.padding-left-sm {
    padding-left: 40px !important;
}

.padding-left-md {
    padding-left: 60px !important;
}

.padding-left-lg {
    padding-left: 80px !important;
}

.padding-left-xlg {
    padding-left: 100px !important;
}

.padding-left-xxlg {
    padding-left: 120px !important;
}
