.sb-page {
    padding: 20px;
    font-family: "Lato", sans-serif;
    min-height: 300px;
}

.sb-title {
    color: #4c4a57;
}

.sb-page.inverted {
    background-color: #1b1a21;
}
.sb-page.inverted .sb-title,
.sb-page.inverted .sb-info {
    color: #fff;
}
