.columns {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include mobile {
        flex-direction: column;
    }

    .column {
        flex: 1;
        padding-right: 80px;

        &:last-child {
            padding-right: 0;
        }

        @include mobile {
            padding: 0;
        }
    }
}