@import "../vendors/bourbon/bourbon";
@import "../vendors/neat/neat";

.container-lg {
    max-width: 1080px;
    padding-left: $container-lg-hor-padding;
    padding-right: $container-lg-hor-padding;
    margin: 0 auto;

    @include mobile {
        padding-left: $container-lg-hor-padding-mobile;
        padding-right: $container-lg-hor-padding-mobile;
    }
}

.container-xlg {
    max-width: 1200px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
}

.container {
    @include outer-container();
    margin-top: 40px;
    margin-bottom: 40px;
}

.section {
    padding-top: 80px;
    padding-bottom: 80px;

    @include mobile {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &.blue-gradient {
        color: $color-neutral-0;
        background: linear-gradient(
            103.43deg,
            $color-purple-800 32.78%,
            #55cdff 99.99%
        );
    }

    &.dark-blue-gradient {
        color: $color-neutral-0;
        background: linear-gradient(
            180deg,
            $color-neutral-900 0%,
            #071d2c 100%
        );
    }

    &.black-gradient {
        color: $color-neutral-0;
        background: linear-gradient(
            180deg,
            $color-neutral-800 19.82%,
            $color-neutral-900 100%
        );
    }

    &.is-large {
        padding-top: 100px;
        padding-bottom: 100px;

        @include mobile {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }

    &.animated-bg {
        $bg-anim-height: 500px;

        position: relative;
        padding: $bg-anim-height 0;
        margin: -140px 0;

        .container-lg {
            margin: -40px auto;
        }
    }
}
