.table {
    $cell-padding: 15px;
    margin: 40px #{-$cell-padding};

    p {
        margin-top: 0;
    }

    .table-row {
        display: flex;
        justify-content: space-around;
        border-radius: 8px;

        &.table-header {
            &:hover {
                background: none;
            }
        }

        &:hover {
            background-color: $color-neutral-200;
            transition: $transition-standard;
        }

        .table-col {
            flex: 1;
            width: 0; // force equal width for all columns in a row
            padding: $cell-padding;
            word-wrap: break-word;
        }
    }
}
