@import "./../scss/utils/index";

.input-component .input-label {
    display: block;
    font-size: 16px;
    font-weight: 900;
    color: $color-neutral-700;
    margin: 0 0 0.5em 0;
}

.input-component .input-wrapper .input {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0.5em;

    background: $color-neutral-200;
    color: $color-neutral-800;
    border: 2px solid transparent;
    border-radius: 4px;
    outline: 0;

    font-family: $family-sans-serif-1;
    font-size: 18px;
    line-height: 1.5;

    transition: background-color 0.15s ease-in-out;
}
.input-component .input-wrapper .input:hover {
    background: $color-neutral-300;
}
.input-component .input-wrapper .input:focus {
    appearance: none;
    background: $color-neutral-0;
    border: 2px solid $color-purple-600;
}

.input-component .input-wrapper .input::placeholder {
    color: #c2c1c7;
}
.input-component .input-wrapper .input:active::placeholder {
    color: transparent;
}

/* STATUS */
/* Error */
.input-component.error .input-label {
    color: $error-text;
}
.input-component.error .input-wrapper .input,
.input-component.error .input-wrapper .input:focus {
    border-color: $error-text;
}
.input-component.error .input-wrapper .error-message {
    margin-top: 5px;
    color: $error-text;
}

/* Success */
.input-component.success .input-label {
    color: $success-text;
}
.input-component.success .input-wrapper .input,
.input-component.success .input-wrapper .input:focus {
    border-color: $success-text;
}

/* Disabled */
.input-component.disabled {
    opacity: 0.6;
}
.input-component.disabled .input-wrapper .input:hover {
    background: $color-neutral-200;
    cursor: not-allowed;
}
